{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

<form action="{% url 'edit' title %}" method="POST">
        {% csrf_token %} 
        <h1>Edit entry for "{{ title }}"</h1>
        <div class="col-md-8">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Edit text</span>
                </div>
                <textarea class="form-control" aria-label="Text" name="text" id="text"
                style="height:50vh" >{{ text|safe }}</textarea>
            </div>
        </div>
        <!-- <textarea name="edit-content" id="textarea-content">{{ text }}</textarea> -->
        <button class="btn btn-primary" id="save-edit" type="submit">Save</button>
    </form>


{% endblock %}