



{% now "Y-m-d-H-i-s" as todays_date %}
<div class="container-fluid">
    <div id="myCarousel" class="carousel slide" data-interval="false">
        {% load custom_tags %}
        {% for product in products %}

            {% if forloop.counter0|divisibleby:'4' %}
                {% if forloop.counter0 != 0 %}
                    </div>
                {% endif %}
            <div class="carousel-inner row w-100 mx-auto">
                {% if products|length == 1 %} <div class="carousel-item col-md-12 active">
                {% elif products|length == 2 %} <div class="carousel-item col-md-6 active">
                {% elif products|length == 3 %} <div class="carousel-item col-md-4 active">
                {% else %} <div class="carousel-item col-md-3 active">
                {% endif %}
            {% else %}
                {% if products|length == 1 %} <div class="carousel-item col-md-12">
                {% elif products|length == 2 %} <div class="carousel-item col-md-6">
                {% elif products|length == 3 %} <div class="carousel-item col-md-4">
                {% else %} <div class="carousel-item col-md-3">
                {% endif %}
            {% endif %}



            <div class="card">
                <img class="card-img-top img-fluid" src='/media/{{ product.image }}' alt="Product image">
                <div class="card-body">
                    <div id="item_name">
                        <h4 class="card-title text-center">{{ product.title }}</h4><hr>
                    </div>
                    <p class="card-text">{{ product.description }}</p>
                    <h4 class="card-title text-center">£{{auction|current_price}}</h4>
                    <div>
                        <!-- BID NOW BUTTON -->
                        <button type="button" class="btn btn-primary bid_now_button" onclick="location.href='/auctions/bid/{{ product.id }}'">Bid Now</button>
                    </div>
                    
                    <div>
                        <!-- WATCH BUTTON -->
                        <button type="button" class="btn btn-outline-primary watch_button" onclick="location.href='/auctions/watchlist/{{ product.id }}'">
                        {% if watchlist %}
                            {% if watchlist|search:product.id%}
                                Unwatch
                            {% else %}
                                Watch
                            {% endif %}
                        {% else %}
                            Watch
                        {% endif %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
</div>

