
       
                    
                        <div class="card">
                        <img class="card-img-top img-fluid" src='/media/images/IMG_0724.JPG' alt="Product image">
                            <div class="card-body">
                                <div id="item_name">
                                    <h4 class="card-title text-center">Boogla</h4><hr>
                                </div>
                                <p class="card-text">Boolgy woogly</p>
                                <h4 class="card-title text-center">£50.0</h4>
                                <div>
                                <!-- BID NOW BUTTON -->
                                    <button type="button" class="btn btn-primary bid_now_button" onclick="location.href='/auctions/bid/1'">Bid Now</button>
                                </div>
                    
                                <div>
                                <!-- WATCH BUTTON -->
                                    <button type="button" class="btn btn-outline-primary watch_button" onclick="location.href='/auctions/watchlist/1'">
                        
                                    Watch
                        
                                </button>
                            </div>
                        </div>
                    </div>
            
            

                
                    <div class="carousel-item col-md-4">
                    
                



                        <div class="card">
                            <img class="card-img-top img-fluid" src='/media/' alt="Product image">
                            <div class="card-body">
                                <div id="item_name">
                                    <h4 class="card-title text-center">Bottles</h4><hr>
                                </div>
                                <p class="card-text">CC bottle</p>
                                <h4 class="card-title text-center">£50.0</h4>
                                <div>
                                <!-- BID NOW BUTTON -->
                                    <button type="button" class="btn btn-primary bid_now_button" onclick="location.href='/auctions/bid/2'">Bid Now</button>
                                </div>
                        
                                <div>
                                <!-- WATCH BUTTON -->
                                    <button type="button" class="btn btn-outline-primary watch_button" onclick="location.href='/auctions/watchlist/2'">
                            
                                    Watch
                            
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
            

                
                    <div class="carousel-item col-md-4">
                    
                



                        <div class="card">
                            <img class="card-img-top img-fluid" src='/media/' alt="Product image">
                            <div class="card-body">
                                <div id="item_name">
                                    <h4 class="card-title text-center">Cans</h4><hr>
                                </div>
                                <p class="card-text">Big Cans</p>
                                <h4 class="card-title text-center">£50.0</h4>
                                <div>
                                <!-- BID NOW BUTTON -->
                                    <button type="button" class="btn btn-primary bid_now_button" onclick="location.href='/auctions/bid/3'">Bid Now</button>
                                </div>
                        
                                <div>
                                <!-- WATCH BUTTON -->
                                    <button type="button" class="btn btn-outline-primary watch_button" onclick="location.href='/auctions/watchlist/3'">
                            
                                    Watch
                            
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

  
    
    

